
.alert {
    z-index: 100;
    margin: 0;
    background-color: hsl(233, 26%, 24%);
    text-align: center;
    color: hsl(220, 16%, 96%);
    border-radius: 0;
    a {
      color: hsl(136, 65%, 51%);
    }
  }
  