footer {
    background: $primary-dark;
    color: white;
    padding: 30px 0;
    margin: auto;
    @include small-screen {
      text-align: center;
    }
    ul {
      margin: 20px 0;
      display: flex;
      padding: 0;
      li {
        margin-right: 8px;
        margin-bottom: 5px;
        img {
          width: 15px;
        }
      }
    }
    a {
      margin-right: 5px;
      &:hover {
        color: $primary-bright;
      }
    }
    .logo {
      width: 100px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .btn {
      padding: 10px 30px;
      @include medium-screen {
        padding: 10px 20px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }